{% extends "base.html" %}

{% block additional_static %}
    {% load static %}
    {% load inplace_edit %}
    {% inplace_static %}
    <link href="{% static 'bower_components/angular-xeditable/dist/css/xeditable.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.tablesorter.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Participants
{% endblock %}

{% block body %}
    <h1>Participants</h1>
    <div ng-controller="ParticipantsController as participants">

        <table id="participants_table_api" rules="all" border="1px" ts-wrapper>
           {% verbatim %}
            <thead>
                <tr>
                    <th ts-criteria="name|lowercase">Name</th>
                    <th ts-criteria="surname|lowercase" ts-default>Surname</th>
                    <th ts-criteria="age|parseInt">Age</th>
                    <th ts-criteria="elo_rating|parseFloat">Elo rating</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="participant in all_participants" ts-repeat>

                <td id="participant_{[{ participant.id }]}" editable-text="participant.name" onbeforesave="updateUser($data, participant.id, participant.name, participant.surname, participant.age, participant.elo_rating)">{[{ participant.name }]}</td>
                <td>{[{ participant.surname }]}</td>
                <td>{[{ participant.age }]}</td>
                <td>{[{ participant.elo_rating | number:2 }]}</td>
            </tr>
            </tbody>
        </table>
    {% endverbatim %}
    </div>
<script>
var textExtractor = function(node){
    return node.textContent;
};

$(document).ready(function()
    {
        $("#participants_table").tablesorter({ textExtraction: textExtractor });
    }
);
</script>
{% endblock %}